<%= render "partials/flash" %>
<script src="jquery.js"></script>
<script src="typed.js"></script>
<script>
  $(function(){
      $(".element1").typed({
        strings: ["<span style='font-size:2.8em;font-weight:700;text-align:center'>Queue while on your way.</span>^1000<span style='font-size:2.8em;font-weight:700;'> Stay in line while you shop.</span>"],
        typeSpeed: 0,
        showCursor: true,
        cursorChar: "|"
      });
  });
</script>
  <div class="element1" style="display:inline;position:absolute;margin: 18% 10% 0 18%;color:white;text-align:center;">

  </div>

<img src="http://res.cloudinary.com/phuaky/image/upload/v1476377902/queue-5_uc3idn.jpg" style="width:100%">

<div class="ui four stackable cards" style="margin:10px">
  <% @stores.each do |store| %>
  <div class="ui fluid card" id="store-card">
    <div class="image">
      <%= cl_image_tag(store.store_picture, :width=>600, :height=>400, :crop=>"fill") %>
    </div>
    <div class="content">
      <a class="header"><%= store.biz_user.company_name %></a>
      <div class="meta">
        <span class="date"><%= store.store_name %></span>
      </div>
      <div class="description">
        <span class="left floated" style="padding-right: 10px"><i class="user icon"></i><%= store.customers.count %> in Queue</span>
        <% total_time = 0 %>
        <% store.customers.each do |customer| %>
          <% wait_time =  Time.now.utc - customer.created_at %>
          <% total_time += wait_time %>
        <% end %>
        <% total_time = (total_time/60).round(0) %>
        <span class="left floated"><i class="wait icon"></i>Est. Wait <%= total_time %> mins</span>
      </div>
    </div>
    <div class="extra content">
      <button class="ui labeled icon blue compact basic button right floated join-queue" id="<%=store.id%>"><i class="add user icon"></i>Queue</button>
    </div>
  </div>
  <% end %>
</div>

<!-- JOIN QUEUE MODAL: UNHIDDEN BY JAVASCRIPT -->
<div class="ui modal" id="join-queue-modal">
  <i class="close icon"></i>
  <div class="header">
    Join Queue
  </div>
  <div class="content">
    <form class="ui form" id='join-queue' action='/customers' method='post'>
    <div class="field">
      <label>Mobile Number</label>
      <input class="validate" type="text" name="user[phone_no]" placeholder="Please enter a valid Singapore mobile number">
    </div>
  </div>
  <div class="actions">
    <button class="ui button" type="submit">Submit</button>
    </form>
  </div>
</div>
