<h1>BizUsers#index</h1>
<p>Find me in app/views/biz_users/index.html.erb</p>
<% @biz_users.each do |biz_user| %>
<p>
  <%= biz_user.company_name %>
  <br>
  <%= biz_user.reg_no %>
  <br>
  <%= biz_user.address %>
  <br>
  <%= biz_user.contact_person %>
  <br>
  <%= biz_user.contact_no %>
  <br>
  <%= link_to 'Details', '/biz_users/' + biz_user.id.to_s, method: :get %>
  <%= link_to 'Edit', '/biz_users/' + biz_user.id.to_s + '/edit', method: :get %>
  <%= link_to 'Delete', '/biz_users/' + biz_user.id.to_s, method: :delete %>
</p>
<% end %>
