<form action="#" class="ui small form">

<div class="ui one column centered grid">
  <div class="ui one wide left aligned container">
    <h2>Edit Stores</h2>
    <div class="ui centered row">
      <div class="field">  
        <div class="ui blue small label">
          <label>Store Name</label>
        </div> <br>
        <div class="ui small input">
          <input style="width:300px; height: 30px;" type="text" id="store_name" value="<%= @store.store_name%>">
        </div> <br>
      </div>
      <div class="field">  
        <div class="ui blue small label">
           <label>Store Address</label>
        </div> <br>
        <div class="ui small input">
           <input style="width:300px; height: 30px;" type="text" id="store_address" value="<%= @store.store_address%>">
        </div>
      </div>
      <div class="field">  
        <div class="ui blue small label">
           <label>Contact Person</label>
        </div> <br>
        <div class="ui small input">
           <input style="width:300px; height: 30px;" type="text" id="contact_person" value="<%= @store.contact_person%>">
        </div> <br>
      </div>
      <div class="field">  
        <div class="ui blue small label">
           <label>Contact No</label>
        </div> <br>
        <div class="ui input">
           <input style="width:300px; height: 30px;" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="contact_no" value="<%= @store.contact_no%>">
        </div> <br>
      </div>
      <div class="field">  
        <div class="ui blue small label">
           <label>Max Queue No.</label>
        </div> <br>
        <div class="ui small input">
           <input style="width:300px; height: 30px;" type="range" min="0" max="100" value="<%= @store.max_queue_no %>">
        </div> <br>
      </div>
      <div class="field">  
        <div class="ui blue small label">
           <label>Max Leeway</label>
        </div> <br>
        <div class="ui small input">
           <input style="width:300px; height: 30px;" type="range" min="0" max="20" value="<%= @store.max_leeway %>">
        </div> <br>
      </div>
      <div class="field">  
        <div class="ui blue small label">
           <label>Reservation Fee...</label>
        </div> <br>
        <div class="ui small input">
           <input style="width:300px; height: 30px;" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="reservation_fee" value="<%= @store.reservation_fee%>">
        </div> <br>
      </div>
      <div class="field">  
        <div class="ui small buttons">
          <button class="ui button"><a href="/stores/<%= @store.id %>">Back</a></button>
          <div class="or"></div>
          <button class="ui positive button" type="submit" name="action">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

</form>
