<h1>Stores#index</h1>
<p>Find me in app/views/stores/index.html.erb</p>

<div class="ui animated button" tabindex="0">
  <a href="/stores/new">
    <div class="visible content">New Store</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
  </a>
</div>

<% @stores.each do |store| %>
<p>
  <%= store.biz_user.company_name %>
  <br>
  <%= link_to store.store_name, '/stores/'+store.id.to_s, method: :get %>
  <br>
  <%= store.store_address %>
  <br>
  <%= store.contact_person %>
  <br>
  <%= store.contact_no %>
  <br>
  <%= link_to 'Details', '/stores/' + store.id.to_s, method: :get %>
  <%= link_to 'Edit', '/stores/' + store.id.to_s + '/edit', method: :get %>
  <%= link_to 'Delete', '/stores/' + store.id.to_s, method: :delete %>
</p>
<% end %>
