<h1>Stores#index</h1>
<p>Find me in app/views/stores/index.html.erb</p>

<div class="ui animated button" tabindex="0">
  <a href="/stores/new">
    <div class="visible content">New Store</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
  </a>
</div>

<div class="ui items">
  <div class="item">
    <div class="content">
      <div class="header">Arrowhead Valley Camp</div>
      <div class="meta">
        <span>
          <% for i in 0..10 %>
             <i class="male icon"></i>
          <% end %>
        </span>
        <span><i class="hourglass half icon"></i></span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
</div>

<% @stores.each do |store| %>
<p>
  <%= store.biz_user.company_name %>
  <br>
  <%= link_to store.store_name, '/stores/'+store.id.to_s, method: :get %>
  <br>
  <%= store.store_address %>
  <br>
  <%= store.contact_person %>
  <br>
  <%= store.contact_no %>
  <br>
  <%= link_to 'Details', '/stores/' + store.id.to_s, method: :get %>
  <%= link_to 'Edit', '/stores/' + store.id.to_s + '/edit', method: :get %>
  <%= link_to 'Delete', '/stores/' + store.id.to_s, method: :delete %>
</p>
<% end %>
