<h1>Stores#show</h1>
<p>Find me in app/views/stores/show.html.erb</p>

<div class="ui two column centered grid">
  <div class="column">
    <%= cl_image_tag(@store.store_picture) %>
  </div>
</div>

<p>
  <%= @store.biz_user.company_name %>
  <br>
  <%= @store.store_name %>
  <br>
  <%= @store.store_address %>
  <br>
  <%= @store.contact_person %>
  <br>
  <%= @store.contact_no %>
  <br>
  Customers in Queue: <%= @customers_in_queue %>
  <br>
  Average Time in Line: <%= @average_time_in_queue_min %> min(s)
  <br>
  Longest Wait: <%= @max_time_in_queue_min %> min(s)
</p>

<button class="ui secondary basic button"><a href="/stores/<%= @store.id %>/edit">Edit</a></button>
<button class="ui secondary basic button"> <%= link_to 'Delete', '/stores/' + @store.id.to_s, method: :delete %> </button>
