<!DOCTYPE html>
<html>
  <head>
    <title>Manq</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

<!-- NAV BAR -->
    <div class="ui menu">
      <div class="header item">
        ManQ
      </div>
      <a class="item">Dummy</a>
      <div class="right menu">
        <% if @current_user %>
          <% if @current_user.biz_user %>
            <li><a class="dropdown-button" href="" data-activates="dropdown1"><i class="material-icons left">account_circle</i><%= @current_user.biz_user.company_name %><i class="material-icons right">arrow_drop_down</i></a></li>
          <% elsif @current_user.user_type_id == 1 %>
            <div class="ui right dropdown item" id="dropdown-menu-admin">
              <span>Admin</span>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item"><a href="/stores">Stores</a></div>
                <div class="divider"></div>
                <div class="item"><%= link_to "Log Out", '/logout', method: :delete %></div>
              </div>
            </div>
          <% end %>
        <% else %>
        <a class="item" href="/biz_users/new">Register</a>
        <a class="item" id='manq-login-submit'>Sign In</a>
        <% end %>
      </div>
    </div>

<!-- LOG IN MODAL: UNHIDDEN BY JAVASCRIPT -->
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Sign In
      </div>
      <div class="content">
        <form class="ui form" action='/login' method='post'>
          <div class="field">
            <label>Email</label>
            <input type="text" name="registered_user[email]" placeholder="Email">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="registered_user[password]" placeholder="Enter password here">
          </div>
      </div>
      <div class="actions">
        <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
    </div>

<!-- RENDER LAYOUT INSERTS -->
    <%= yield %>
  </body>
</html>
