<!DOCTYPE html>
<html>
  <head>
    <title>Manq</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
<!-- NAV BAR -->
    <div class="ui top attached menu">
      <a class="item"><i class="sidebar icon"></i>Menu</a>
    </div>
    <div class="ui bottom attached segment pushable">
      <div class="ui inverted thin sidebar vertical menu">
        <!-- LOGGED IN MENU -->
        <% if @current_user %>
          <!-- STORE -->
          <% if @current_user.user_type_id == 3 %>
            <a class="item" href="/"><i class="home icon"></i>Home</a>
            <a class="item" href="/stores/<%= @current_user.store.id %>"><i class="home icon"></i>Store Info</a>
            <a class="item" href="/stores/<%= @current_user.store.id %>/edit"><i class="home icon"></i>Update Info</a>
            <%= link_to "Log Out", '/logout', class: "item", method: :delete %>
          <!-- BIZ USER -->
          <% elsif @current_user.user_type_id == 2 %>
            <a class="item" href="/"><i class="home icon"></i>Home</a>
            <a class="item" href="/stores">View Stores</a>
            <a class="item" href="/biz_users/<%= @current_user.biz_user.id %>">Company Info</a>
            <%= link_to "Log Out", '/logout', class: "item", method: :delete %>
          <!-- ADMIN -->
          <% elsif @current_user.user_type_id == 1 %>
            <a class="item" href="/"><i class="home icon"></i>Home</a>
            <a class="item" href="/biz_users">View Companies</a>
            <a class="item" href="/stores">View Stores</a>
            <%= link_to "Log Out", '/logout', class: "item", method: :delete %>
          <% end %>
        <!-- PUBLIC MENU -->
        <% else %>
          <a class="item" href="/"><i class="home icon"></i>Home</a>
          <a class="item" id='check-status'><i class="block layout icon"></i>Check Status</a>
          <a class="item" id='manq-newbiz-create'><i class="smile icon"></i>Register</a>
          <a class="item" id='manq-login-submit'><i class="calendar icon"></i>Sign In</a>
        <% end %>
      </div>
      <!-- RENDER LAYOUT INSERTS -->
      <div class="pusher">
        <%= yield %>
      </div>
    </div>

    <!-- Biz-Create MODAL: UNHIDDEN BY JAVASCRIPT -->
        <div class="ui modal" id='newbiz-modal'>
          <i class="close icon"></i>
          <div class="ui padded grid" style="padding-top:20px">
            <h1 class="ui header">Sign up for a business account</h1>
            <div class="sixteen wide column">
              <div class="ui form" id='biz_user_registration'>
                <form action='/biz_users' method='post'>
                  <h4 class="ui dividing header">Account Details</h4>
                  <div class="field">
                    <label>Email</label>
                    <input type="text" name="registered_user[email]" placeholder="Email to be used for logging in">
                  </div>
                  <div class="field">
                    <div class="two fields">
                      <div class="field">
                        <label>Password</label>
                        <input type="password" name="registered_user[password]" placeholder="Should consist of at least 8 characters">
                      </div>
                      <div class="field">
                        <label>Confirm Password</label>
                        <input type="password" name="registered_user[password_confirmation]" placeholder="Key in password again to confirm">
                      </div>
                    </div>
                  </div>
                  <h4 class="ui dividing header">Company Details</h4>
                  <div class="three fields">
                    <div class="four wide field">
                      <label>Company Name</label>
                      <input type="text" name="biz_user[company_name]" placeholder="As per ACRA records">
                    </div>
                    <div class="eight wide field">
                      <label>Business Registration Number</label>
                      <input type="text" name="biz_user[reg_no]" placeholder="As per ACRA records">
                    </div>
                    <div class="four wide field">
                      <label>Company Address</label>
                      <input type="text" name="biz_user[address]" placeholder="Company registered address">
                    </div>
                  </div>

                  <div class="two fields">
                    <div class="field">
                      <label>Contact Person</label>
                      <input type="text" name="biz_user[contact_person]" placeholder="Company go-to person for matters pertaining to this account">
                    </div>
                    <div class="field">
                      <label>Contact Number</label>
                      <input type="text" name="biz_user[contact_no]" placeholder="Contact number of contact person">
                    </div>
                  </div>
                  <input type="submit" value="Submit" class="ui button" />
                  <div class="ui error message"></div>
                </form>
              </div>
            </div>
          </div>
        </div>

<!-- LOG IN MODAL: UNHIDDEN BY JAVASCRIPT -->
    <div class="ui modal" id='login-modal'>
      <i class="close icon"></i>
      <div class="header">
        Sign In
      </div>
      <div class="content">
        <form class="ui form" action='/login' method='post'>
          <div class="field">
            <label>Email</label>
            <input type="text" name="registered_user[email]" placeholder="Email">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="registered_user[password]" placeholder="Enter password here">
          </div>
      </div>
      <div class="actions">
        <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
    </div>

<!-- CHECK QUEUE STATUS MODAL: UNHIDDEN BY JAVASCRIPT -->
    <div class="ui basic small coupled modal" id="check-status-modal">
      <i class="close icon"></i>
      <div class="header">
        Check Queue Status
      </div>
      <div class="content">
        <form class="ui inverted form">
        <div class="field">
          <label>Mobile Number</label>
          <input type="text" name="user[phone_no]" placeholder="Please enter the number you used earlier">
        </div>
      </div>
      <div class="actions">
        <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
    </div>

<!-- RETURN QUEUE STATUS MODAL: UNHIDDEN BY JAVASCRIPT -->
    <div class="ui basic small coupled modal" id="return-status-modal">
      <i class="close icon"></i>
      <div class="header">
        Queue Status
      </div>
      <div class="content">
      </div>
    </div>


  </body>
</html>
