<!DOCTYPE html>
<html>
  <head>
    <title>Manq</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/stores">Stores</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><%= link_to "Log Out", '/logout', method: :delete %></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="/stores">Stores</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">Log Out</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">ManQ</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if @current_user %>
            <% if @current_user.biz_user %>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">account_circle</i><%= @current_user.biz_user.company_name %><i class="material-icons right">arrow_drop_down</i></a></li>
            <% elsif @current_user.user_type_id = 1 %>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">account_circle</i>Admin<i class="material-icons right">arrow_drop_down</i></a></li>
            <% end %>
          <% else %>
          <li><a href="/biz_users/new">Register</a></li>
          <li><a href="/login">Log In</a></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <% if @current_user %>
            <% if @current_user.biz_user %>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons left">account_circle</i><%= @current_user.biz_user.company_name %><i class="material-icons right">arrow_drop_down</i></a></li>
            <% elsif @current_user.user_type_id = 1 %>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons left">account_circle</i>Admin<i class="material-icons right">arrow_drop_down</i></a></li>
            <% end %>
          <% else %>
          <li><a href="/biz_users/new">Register</a></li>
          <li><a href="/login">Log In</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <!-- SCRIPT FOR FLASH MESSAGE VIA MATERIALIZE TOAST-->
    <script>
    var $toastContent = $('<span><%= flash[:success] %><%= flash[:danger] %></span>');
    Materialize.toast($toastContent, 5000);

    </script>
  </body>
</html>
